

<div class="group-container">

  <div class="group-title">
    <%= @group.name %>
  </div>

  <div class="group-members">
    Members:
    <%= @group.users.map{ |user| "#{user.first_name} #{user.last_name}" }.join(", ") %>
  </div>

  <div> <%= link_to 'New Expense', new_group_expense_path(@group) %></div>

  <% if @group.expenses.count > 0 %>

    <table class="expense-table table table-striped">
      <thead>
        <th>Expense</th>
        <th class="amount">Amount</th>
        <th>Paid By</th>
        <th></th>
      </thead>

      <% @group.expenses.each do |expense| %>

      <tr>
        <td><%= expense.description %></td>
        <td class="amount"><%= number_to_currency(expense.amount) %></td>
        <td><%= expense.user.first_name %></td>
        <td>
          <% if current_user == expense.user %>
            <%= link_to 'Delete', group_expense_path(@group, expense), method: :delete, data: { confirm: "Delete expense: #{expense.description}?" } %>
          <% end %>

        </td>
      </tr>



      <% end %>

    </table>


    <div>

    </div>


  <% else %>

    <div class="no-expenses">
      This group does not have any outsanding expenses. Add one <%= link_to 'here', new_group_expense_path(@group) %>.
    </div>

  <% end %>

</div>


