

<div class="group-container">


  <div class="group-header">
    <div class="profile">
      Signed in as <%= "#{current_user.first_name} #{current_user.last_name}" %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    </div>
    <div class="group-title">
      <%= @group.name %>
    </div>
    <div class="group-members">
      Members:
      <%= @group.users.map{ |user| "#{user.first_name} #{user.last_name}" }.join(", ") %>
    </div>

    <div class="header-title">Create a new expense:</div>

    <%= form_for :expense, url: group_expenses_path(@group), html: {class: "form-group"} do |f| %>
      <%= f.label(:description) %>
      <%= f.text_field :description, class: "form-control" %>
      <%= f.label(:amount) %>
      <%= f.number_field :amount, class: "form-control"  %>
      <%= f.submit "Create Expense", class: "btn btn-success"  %>
    <% end %>

  </div>

  <table class="table">

    <thead>
      <td></td>
    </thead>

    <tr>
      <td>TOTAL</td>
      <td class="amount"><%= number_to_currency(@total_outstanding) %></td>
      <td></td>
    </tr>

    <tr>
      <td>Split</td>
      <td class="amount"><%= number_to_currency(@split) %></td>
      <td></td>
    </tr>


    <% @expense_hash.each do |name, amount| %>

      <% if amount > 0  %>
        <tr class="danger">
          <td><%= name %></td>
          <td class="amount"><%= number_to_currency(amount) %></td>
          <td><%= link_to "Settle", group_settle_path(@group) %></td>
        </tr>
      <% end %>

    <% end %>


  </table>



  <% if @group.expenses.count > 0 %>

    <table class="expense-table table table-striped">
      <thead>
        <th>Expense</th>
        <th class="amount">Amount</th>
        <th>Paid By</th>
        <th>Date</th>
        <th></th>
      </thead>

      <% @expenses.each do |expense| %>

      <tr>
        <td><%= expense.description %></td>
        <td class="amount"><%= number_to_currency(expense.amount) %></td>
        <td><%= expense.user.first_name %></td>
        <td><%= expense.created_at.strftime("%b %-d") %></td>
        <td>
          <% if current_user == expense.user %>
            <%= link_to 'Delete', group_expense_path(@group, expense), method: :delete, data: { confirm: "Delete expense: #{expense.description}?" } %>
          <% end %>

        </td>
      </tr>
      <% end %>







    </table>


    <div>



    </div>


  <% else %>

    <div class="no-expenses">
      This group does not have any outsanding expenses. Add one <%= link_to 'here', new_group_expense_path(@group) %>.
    </div>

  <% end %>

</div>


