
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">The One Night Standard</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Payments</a></li>
            <li><a href="#">Help</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to('Sign out', destroy_user_session_path, method: 'delete') %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="containter">

  <div class="row">
    <div class="col-sm-3 col-md-2 left-panel">

      <div class="filters">
        <h4>Categories</h4>
        <div class="form-group">
          <% 10.times do  %>
          <div>
            <input type="checkbox"> <%= Faker::Commerce.department(1) %></label>
          </div>
          <% end %>
        </div>
      </div>







    </div>

    <div class="col-sm-5 col-md-7 center-panel">

        <div class="row search-bar">

          <div class="col-lg-8 col-lg-offset-2">
              <div class="form-group">
                <input type="text" class="form-control" id="search-input" placeholder="Search Items" >
              </div>
          </div>

        </div>

        <div class="row">
          <% 23.times do  %>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 item-container">
              <div class="item">

                <div class="image-thumbnail">
                  <img src="<%= Faker::Avatar.image(nil, '100x100') %>" alt="">
                </div>

                <div class="item-name">
                  <%= Faker::Commerce.product_name %>
                </div>

                <div class="item-price">
                  <%= number_to_currency(Faker::Commerce.price,  precision: 2) %>
                </div>

                <div class="add-item-button">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </div>

              </div>
            </div>
          <% end %>
        </div>

    </div>

    <div class="col-sm-4 col-md-3 right-panel">
        <div class="row">
          <div class="col-lg-12 cart-header">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <h4>4 items in your cart</h4>

          </div>

          <% 4.times do %>
            <div class="col-lg-12 cart-item">
              <div>
                <%= Faker::Commerce.product_name %>
              </div>

              <div class="cart-item-specs">
                <span class="quantity">qty: 1 </span>
                <span class="cart-price"><%= number_to_currency(Faker::Commerce.price,  precision: 2) %></span>
              </div>
            </div>
          <% end %>

          <div class="btn btn-danger checkout-button">
            CHECKOUT <%= number_to_currency(Faker::Commerce.price,  precision: 2) %>
          </div>

        </div>

    </div>
  </div>
</div>
