

<br>
<br>


<div class="container">
  <% if current_user %>
    Signed in as <%= current_user.email %>. <%= link_to "Log Out", destroy_user_session_path, method: :delete%>
  <% end %>
<br>
<br>
  <div class="jumbotron">
    <h2>Welcome to Balance!</h2>
    <p>Balance allows you to track and evenly split expenses between friends.</p>
    <p>Get started: </p>

    <% if current_user %>
      <p><%= link_to "Create Group", new_group_path, class: 'btn btn-primary' %></p>
    <% else %>
      <p><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success' %> <%= link_to "Log In", new_user_session_path, class: 'btn btn-primary' %></p>
    <% end %>
  </div>


</div>


